@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);


@font-face {
    font-family: "Open Sans Bold";
    src: url(fonts/opensans/OpenSans-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Open Sans Regular";
    src: url(fonts/opensans/OpenSans-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Open Sans Light";
    src: url(fonts/opensans/OpenSans-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Miriam Libre Bold";
    src: url(fonts/miriam/MiriamLibre-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Miriam Libre Regular";
    src: url(fonts/miriam/MiriamLibre-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Miriam Libre Light";
    src: url(fonts/miriam/MiriamLibre-Light.ttf) format("truetype");
}

body { font-family: "Open Sans Regular", sans-serif }
h1, h2, h3 {
    font-family: 'Miriam Libre Regular';
    font-weight: normal;
    color:#2BBA47;
}

.remark-slide-content h1{
    font-size: 30px;
    position: fixed;
    right: 30px;
    top: 12px;
    max-width: 800px;

}

.remark-slide-content h3{
    font-size:25px;
}

.intro h3{
    color:#fff;
}
.image-100 img {
    width: 100%;
}

.image-99 img {
    width: 99%;
}
.image-95 img {
    width: 95%;
}
.image-90 img {
    width: 90%;
}
.image-85 img {
    width: 85%;
}
.image-80 img {
    width: 80%;
}
.image-75 img {
    width: 75%;
}
.image-70 img {
    width: 70%;
}
.image-65 img {
    width: 65%;
}
.image-60 img {
    width: 60%;
}
.image-55 img {
    width: 55%;
}
.image-50 img {
    width: 50%;
}
.image-45 img {
    width: 45%;
}
.image-40 img {
    width: 40%;
}
.image-35 img {
    width: 35%;
}
.image-30 img {
    width: 30%;
}
.image-25 img {
    width: 25%;
}
.image-20 img {
    width: 20%;
}
.image-15 img {
    width: 15%;
}
.image-10 img {
    width: 10%;
}
.remark-code {
    font-family: 'Ubuntu Mono';
}

.remark-inline-code {
    font-family: 'Ubuntu Mono';
    background-color: #c9c9c9 !important;
}

.small-code .remark-code-line {
    font-size: 10px;
}

.code-9px .remark-code-line {
    font-size: 9px;
    line-height: 1.2em;
}

.code-10px .remark-code-line {
     font-size: 10px;
     line-height: 1.2em;
}

.code-11px .remark-code-line {
    font-size: 11px;
}

.code-12px .remark-code-line {
    font-size: 12px;
}

.code-13px .remark-code-line {
    font-size: 13px;
}

.code-14px .remark-code-line {
    font-size: 14px;
}

.code-15px .remark-code-line {
    font-size: 15px;
}

.code-16px .remark-code-line {
    font-size: 16px;
}

.medium-code .remark-code-line {
    font-size: 16px;
}

.diff-code {
    margin-left: -40px;
}

.diff-code .remark-code-line {
    font-size: 14px;
}

.mem-code .remark-code-line {
    font-size: 15px;
}

.dp-code .remark-code-line {
    font-size: 22px;
}

.bottomBar{
    font-size: 15px;
    color: #fff;
    position:fixed;
    bottom:18px;
    left:50%;
    transform: translate(-50%,0);
    text-align:center;
    width:100%;
}

.remark-slide-content{
    background-image: url('images/background2.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    color:#333;
    padding-top: 100px;


}

.intro p{
    color:#fff;

}

.intro h2{
    background-position: calc(50% - 65px) 2px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color:#fff;
    font-size:20px;
}

.remark-slide-number{
    bottom: 20px;
    color:#fff;
}

p{
    flex-direction: column;
    justify-content: center;
}

.left-code-column50 {
    width: 55%;
    float: left;
    margin-left:-50px;
    margin-top:-30px;
}

.right-code-column50 {
    width: 55%;
    float: right;
    margin-right:-50px;
    margin-top:-30px;
}

.left-column50 {
    width: 50%;
    float: left;
}

.left-column45 {
    width: 45%;
    float: left;
}

.left-column55 {
    width: 55%;
    float: left;
}

.left-column30 {
    width: 30%;
    float: left;
}

.right-column45 {
    width: 45%;
    float: right;
}

.right-column50 {
    width: 50%;
    float: right;
}

.right-column55 {
    width: 55%;
    float: right;
}


.right-column70 {
    width: 70%;
    float: right;
}

.intro {
    background-image: url('images/intro.png') !important;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    color:#fff
}

a{
      color:#2BBA47;
      font-size:1em;
}

.intro  h1 {
    font-size:40px;
    position:static !important;
    max-width:none !important;
    top:0;
    right:0;
}

.intro .bottomBar{
    display:none;
}

.outro {
    background-image: url('images/intro.png') !important;
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    color:#fff
}

.outro  h1 {
    font-size:40px;
    position:static !important;
    max-width:none !important;
    top:0;
    right:0;
}

.outro h2{
    background-position: calc(50% - 65px) 2px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    color:#fff;
    font-size:20px;
}

.outro h3{
    color:#fff;
}

.outro .bottomBar{
    display:none;
}

.outro p{
    color:#fff;

}

.remak-slide ul {
    list-style-type: disc;
    padding: 0;
    margin: 0;
    margin-top:-0.5em;
    margin-bottom:-0.5em;
    margin-left: 1em;
        list-style-color: #2BBA47;
}

ul ul{
    list-style-type: circle;
    margin-left: 1em;
}

li {
    padding-left: 0.5em;
    /* text-indent: -.7em; */
}

.code-comment {
    position:relative;
    top:-0.7em;
    font-size: 0.8em;
    font-style: italic;
}

.footnote {
    bottom: 9em;
    font-size: 10px;
    left: 4em;
    position: absolute;
    right: 4em;
}


.hljs-default .hljs, .hljs-default .hljs-subst {
    color: #444;
    font-size: 15px;
}

.image-left {
    float: left;
    width: 20em;
    margin-top: -2em;
    margin-left: -2em;
}

@page {
  size: 908px 681px;
  margin: 0;
}

@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }

.code-comment{
     position: relative;
     top: -1em;
     font-style: italic;
     font-size:0.75em;

}

a {
    font-size: 1em;
    font-weight: bold;
}

}
.column-3 p {text-align: center;}
.left-3, .middle-3, .right-3 {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  line-height: 1.6em;
}
.column-4-numbers {
    font-weight: 300;
    font-size: 30px;
    font-weight: 600;
}
.column-4-numbers-text {
    font-weight: 500;
}
.column-4-numbers p, .column-4-numbers-text p {
    text-align: center;
}
.column-4-numbers p {
    margin: 10px;
    color: #38d430;
}
.left-4, .left-middle-4, .right-middle-4, .right-4 {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}
.column-1-title p #text {padding-top: 20px;}

table {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
} 

.pure-table thead {
    background-color: #3D3D3D !important;
    color: #ebebeb;
    text-align: center;
    vertical-align: bottom;
    font-family:"montserratLight" ,sans-serif;

}

.th {
    padding-top:9px!important;
    padding-bottom:9px!important;
}

.pure-table td {
  border-left: 1px solid #E2E2E2 !important;
  border-left-width: 1px;
  border-width: 0 0 0 1px;
  font-size: 12px !important;
  overflow: visible;
  padding: 0.5em 0.6em !important;
}

.pure-table th {
  border-left: 1px solid #3D3D3D !important;
  border-left-width: 1px;
  border-width: 0 0 0 1px;
  font-size: 11px !important;
  overflow: visible;
  padding: 0.4em 0.8em !important;
}

.pure-table {
  border:0px !important;
}

.pure-table {
    border:0px !important;
  }

.pure-table table tbody {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #E2E2E2 !important;
}

.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb;
}

.pure-table td, .pure-table th {
  border-left: 1px solid #cbcbcb;
  border-left-width: 1px;
  border-width: 0 0 0 1px;
  border-bottom-width: 1px;
  font-size: inherit;
  overflow: visible;
  padding: .5em 1em;
}

.pure-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2;
}

h4 {
  font-weight: bold;
  font-family: montserratBold;
  font-size:12px;
}

.text-color-red {
    color:#ff0000;
}

.text-color-green {
    color:#008000;
}

.text-color-blue {
    color:#0000ff;
}

.text-color-yellow {
    color:#ffff00;
    text-shadow: 1px 1px 2px #000000;
}

.text-color-fuchsia {
    color:#ff00ff;
}

.text-color-olive {
    color:#808000;
}

.text-color-lime {
    color:#00ff00;
}

.text-color-maroon {
    color:#800000;
}

.text-color-aqua {
    color:#00ffff;
}

.text-color-navy {
    color:#0000ff;
}

.text-color-orange {
    color:#ff9a00;
}